.section-cart{
     display: flex;
     flex-direction:column;
     justify-content: center;
     color: #fff;
     width: 100%;
    // gap: 0 80px;
    // height: 800px;
    background-color: #3498db ;
    // background-color: #3498db;
    .order-summary{
        padding-top: 40px;
        width: 90%;
        margin: auto;
        border-radius: 20px;
        h2{
            text-align: center;
        }
    }
    .contact-information{
        padding-top: 70px;
        padding-bottom: 130px;
        width: 40%;
        margin:auto;
    }
}